streamlit
streamlit-lottie
streamlit-option-menu
firebase-admin
lottie
Pillow
numpy
tensorflow
requests
plotly
matplotlib
seaborn
langchain
torch
accelerate
streamlit_chat
faiss-cpu
altair
tiktoken
huggingface-hub
pypdf
pymupdf
pymongo
pydantic==1.10.0
transformers
